.app {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
}

.app-header {
  display: flex;
  flex-direction: row;
  background-color: #162955;
  height: 10vh;
  align-items: center;
  justify-content: center;
  color: white;
  top:0;
  width: 100%;
  padding: 0px 20px;
}
.icon {
  color:white !important;
  transform: scale(1.8);
}
.content{
  font-family: "Bookman Old Style", sans-serif;
  color: bisque;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 100px;
}
.app-footer {
  display: flex;
  flex-direction: row;
  background-color: #162955;
  height: 10vh;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  bottom:0;
  padding: 0px 20px;
}
.center-body {
  background: #7887AB;
  height: 74vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  overflow-x: auto;
}
li{
  padding:0px 10px 25px 0px;
}
img{
  border: papayawhip solid 4px;
  margin: 20px;
}
.action-buttons{
  width:150px;
  padding:10px;
  margin:20px;
  height:40px;
}
label{
  padding:0px 20px;
}
input{
  width:150px;
  padding:10px;
  margin:20px;
  height:10px;
}

.canvas{
  display:flex;
  flex-direction:column;
  color: white;
  font-size:larger;
  cursor: crosshair;
}